# Python Syntax

ex1

In [ ]:
print("Hello World")

 ex2

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

# Python Comments

In [3]:
#This is a new comment

In [4]:
"""
This is a comment
written in 
more than just one line
"""

'\nThis is a comment\nwritten in \nmore than just one line\n'

# Python Variables

ex1

In [44]:
corname="Volvo"

ex2

In [8]:
x=50

ex3

In [9]:
x=5;
y=10;
print(x+y)

15

ex4

In [ ]:
x=5
y=10
z=x+y
print(z)

ex5

In [6]:
myfirst_name = "John"

ex6

In [5]:
x=y=z="Orange"

ex7

In [ ]:
def myfunc():
    global x;
    x="fantastic"

# Python Data Types

ex1

In [45]:
x=5
print(type(x))
#int

<class 'int'>

ex2

ex3

In [2]:
x=20.5
print(type(x))
#float

<class 'float'>

ex4

In [3]:
x = ["apple", "banana", "cherry"]
print(type(x))
#list

<class 'list'>

ex5

In [4]:
x = ("apple", "banana", "cherry")
print(type(x))
#tuple

<class 'tuple'>

ex6

In [5]:
x = {"name" : "John", "age" : 36}
print(type(x))
#dict

<class 'dict'>

ex7

In [6]:
x = True
print(type(x))
#bool

<class 'bool'>

# Python Numbers

ex1

In [12]:
x = 5
x = float(x)

ex2

In [13]:
x = 5.9
x = int(x)

ex3

In [14]:
x = 5
x = complex(x)

# Python Strings

ex1

In [15]:
x = "Hello World"
print(len(x))

11

ex2

In [23]:
txt = "Hello World"
x = txt[0]

ex3

In [24]:
txt = " Hello World "
x = txt[2:5]
print(x)

ell

ex4

In [25]:
txt = " Hello World "
x = txt.strip()

ex5

In [26]:
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

ex6

In [28]:
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

ex7

In [31]:
txt = "Hello World"
txt = txt.replace('H','J')

ex8

In [30]:
age = 36
txt = "My name is John, and I am {} "
print(txt.format(age))

My name is John, and I am 36